@import "../../app.scss";

.neows{
    max-width: 70%;
    margin: auto;

    .home{
        background-color: white;
        z-index: 999;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        top: 28px;
        left: 25px;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        i{
            font-size: 25px;
            color: black;
        
        }
    }

    .intro{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        

        .textContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            height: 100%;
            flex: 2;

            @include tablet {
                display: none;
            }
    
            h2 {
                font-size: 20px;
                color: rebeccapurple;
                letter-spacing: 8px;
            }
    
            h1{
                font-size: 88px;
    
                @include mobile {
                    font-size: 66px;
                }
            }
        }

        .infoContainer{
            flex: 1;
           
            @include tablet {
                line-height: 22px;

            }
        }

    }
}